name: Deploy to Client Vercel
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Vercel Webhook
        run: |
          curl -X POST "${{ secrets.VERCEL_DEPLOY_HOOK }}"
